body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: auto;
    height: auto;
}

h1 {
    font-size: 36px;
    color: #5a5a5a;
    margin: 10px 0;
}

.specials {
    font-size: 20px;
    color: #5a5a5a;
}

main {
    background-color: #f8f8f8;
    padding: 20px;
    border: 1px solid #ddd;
}

.product h2 {
    font-size: 28px;
    color: #333;
}

.product p {
    font-size: 16px;
    color: #555;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

.specifications h3 {
    font-size: 22px;
    color: #333;
    margin-top: 20px;
}

.image-container {
    text-align: center;
    margin: 20px 0;
    display: inline-block;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    padding: 10px;
    background-color: #fff;
    float: right;
    margin-left: 20px;
}

.product-image {
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.caption {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #b8a5bb;
    font-size: 14px;
    margin-top: 20px;
}